<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterJsp</filter-name>
        <filter-class>filter.FilterJsp</filter-class>
    </filter>
    <filter>
        <filter-name>FilterRole</filter-name>
        <filter-class>filter.FilterRole</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterRole</filter-name>
        <url-pattern>/sale-dashboard</url-pattern>
        <url-pattern>/addnewproduct</url-pattern>
        <url-pattern>/updateproduct</url-pattern>
        <url-pattern>/table-product</url-pattern>
        <url-pattern>/product-detail-manage</url-pattern>
        <url-pattern>/delete-product</url-pattern>
        <url-pattern>/addnewrecord</url-pattern>
        <url-pattern>/dashboard-view-more</url-pattern>
        <url-pattern>/voucherManagement</url-pattern>
        <url-pattern>/AutoGenerateVoucher</url-pattern>
        <url-pattern>/UserListController</url-pattern>
        <url-pattern>/getUserByID</url-pattern>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/userList</url-pattern>
        <url-pattern>/manageAdmin</url-pattern>
        <url-pattern>/updatestatus</url-pattern>
        <url-pattern>/editaccount</url-pattern>
        <url-pattern>/create-account</url-pattern>
        <url-pattern>/userprofile</url-pattern>
        <url-pattern>/changepassword</url-pattern>
        <url-pattern>/mypurchases</url-pattern>
        <url-pattern>/ordermanage</url-pattern>
        <url-pattern>/orderdetails</url-pattern>
        <url-pattern>/getorderdetails</url-pattern>
        <url-pattern>/marketing</url-pattern>
        <url-pattern>/post</url-pattern>
        <url-pattern>/post/detail</url-pattern>
        <url-pattern>/post/add</url-pattern>
        <url-pattern>/feedback</url-pattern>
        <url-pattern>/feedback/detail</url-pattern>
        <url-pattern>/admin/history</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterAdmin</filter-name>
        <filter-class>filter.FilterAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterAdmin</filter-name>
        <url-pattern>/admin/history</url-pattern>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/userList</url-pattern>
        <url-pattern>/manageAdmin</url-pattern>
        <url-pattern>/updatestatus</url-pattern>
        <url-pattern>/editaccount</url-pattern>
        <url-pattern>/create-account</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterMarketing</filter-name>
        <filter-class>filter.FilterMarketing</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterMarketing</filter-name>
        <url-pattern>/addnewproduct</url-pattern>
        <url-pattern>/updateproduct</url-pattern>
        <url-pattern>/table-product</url-pattern>
        <url-pattern>/sale-dashboard</url-pattern>
        <url-pattern>/product-detail-manage</url-pattern>
        <url-pattern>/delete-product</url-pattern>
        <url-pattern>/voucherManagement</url-pattern>
        <url-pattern>/UserListController</url-pattern>
        <url-pattern>/getUserByID</url-pattern>
        <url-pattern>/AutoGenerateVoucher</url-pattern>
        <url-pattern>/marketing</url-pattern>
        <url-pattern>/post</url-pattern>
        <url-pattern>/post/detail</url-pattern>
        <url-pattern>/post/add</url-pattern>
        <url-pattern>/feedback</url-pattern>
        <url-pattern>/feedback/detail</url-pattern>
        <url-pattern>/ordermanage</url-pattern>
        <url-pattern>/getorderdetails</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterJsp</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.MarketingDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostController</servlet-name>
        <servlet-class>controller.PostListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostController</servlet-name>
        <servlet-class>controller.AddPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetailController</servlet-name>
        <servlet-class>controller.PostDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>controller.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUserByIDController</servlet-name>
        <servlet-class>controller.getUserByIDController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetail</servlet-name>
        <servlet-class>controller.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>function.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashBoardController</servlet-name>
        <servlet-class>controller.AdminDashBoardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListAdminController</servlet-name>
        <servlet-class>controller.UserListAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAdminController</servlet-name>
        <servlet-class>controller.ManageAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusController</servlet-name>
        <servlet-class>controller.updateStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountController</servlet-name>
        <servlet-class>controller.EditAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>controller.CreateAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/marketing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostController</servlet-name>
        <url-pattern>/post/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetailController</servlet-name>
        <url-pattern>/post/detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyController</servlet-name>
        <servlet-class>controller.VerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCaptcha</servlet-name>
        <servlet-class>controller.VerifyCaptcha</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AboutController</servlet-name>
        <servlet-class>controller.AboutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutController</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/userprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/UserListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUserByIDController</servlet-name>
        <url-pattern>/getUserByID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetail</servlet-name>
        <url-pattern>/blog/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashBoardController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListAdminController</servlet-name>
        <url-pattern>/userList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAdminController</servlet-name>
        <url-pattern>/manageAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusController</servlet-name>
        <url-pattern>/updatestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountController</servlet-name>
        <url-pattern>/editaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/create-account</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
