/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 20, 2023, 5:24:26 PM
    Author     : pc
*/

.small-product-item-side{
    color: black;
    display: flex;
    text-decoration: none;
    width: 100%;
}
.small-product-item-side:hover{
    background: #0000000d;
}
.blog-item-link{
    text-decoration: none;
    display: flex;
    width: 100%;
}
.blog-item-link:hover{
    background:#0000001a;
}
.image-bound-blog-thumbnail{
    width: 450px;
}
#blog-query-box{
    border: 1px solid #00000033;
    border-radius: 5px;
}
#top-query-blog{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#message-input{
    width: 80%; 
    display: flex; 
    align-items: center;
}
#blog-section-cap{
    text-align: center;
    width: 100%;
    padding: 10px;
    position: absolute;
    z-index: 2;
    color: white;
    background: black;
}
.carousel-item img{
    height: 100%;
}
.carousel-inner{
    display: flex;
}